     .footer-content {
        background-color: #253647;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    .footer-content ul {
        list-style-type: none; /* Quita los puntos de la lista */
        padding: 0;
    }

    .footer-content li {
        margin: 5px 0;
    }
 